<header>
  <div class="container">
    <a routerLink="/" class="logo">Книжный Магазин!</a>

    <nav>
      <ul>
        <li *ngIf="!user.token">
          <a routerLink="/login">Войти</a>
        </li>

        <li class="container__menu" *ngIf="user.token">
          <a routerLink="/dashboard"> {{ user.name }} </a>
          <div class="menu">
            <a>Profile</a>
            <a>Orders</a>
            <a (click)="logout()">Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page">
            Корзина <span *ngIf="cartQuantity"> {{ cartQuantity }} </span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
