<div class="container">
  <div class="details">
    <h2>Войти</h2>

    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <text-input
        [control]="fc.email"
        [showErrorsWhen]="isSubmitted"
        type="email"
        label="Email"
      ></text-input>

      <text-input
        [control]="fc.password"
        [showErrorsWhen]="isSubmitted"
        type="password"
        label="Password"
      ></text-input>

      <default-button type="submit" text="Войти"></default-button>

      <div class="register">
        Новый Пользователь? &nbsp;
        <a routerLink="/register">Зарегистрироваться</a>
      </div>
    </form>
  </div>
</div>
