/* city-selection-modal.component.css */
ul {
  list-style: none; /* Убедитесь, что маркеры списка скрыты */
  padding: 0; /* Убедитесь, что внутренний отступ списка отсутствует */
}

ul li {
  margin: 0; /* Убедитесь, что отступы для элементов списка отсутствуют */
}
